<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <div class="container mt-5">
        <center><h1>Kosong??</h1></center>
    </div>
</body>
</html>